.middle {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  min-height: 12rem;

  .middle-swiper-container {
    margin: auto;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
    min-height: 8rem;

    .middle-image-container {
      min-width: 100%;
      min-height: 100%;

      img {
        object-fit: cover;
        height: 20rem;
        width: 100%;
      }
    }
  }

  .swipe-buttons-container {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 70%;

    img {
      cursor: pointer;
      width: 8%;
    }
  }

  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    img {
      max-height: 90%;
      max-width: 90%;
    }
  }
}

// @media screen and (min-width: 800px) {
//   .middle {
//     .middle-image-container {
//     }
//   }
// }
