.app-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 237, 239);
  width: 60vw;
  padding: 1rem;
}

.app-container {
  min-height: 50vh;
  height: 100%;
  border: 1px solid rgb(206, 206, 206);
}

body {
  @media screen and (min-width: 768px) {
    height: auto;

    .app-wrapper {
      width: 35vw;
    }
  }
}

body {
  @media screen and (max-width: 435px) {
    .middle {
      .middle-swiper-container {
        margin: auto;
        display: flex;
        width: 80%;
        overflow: hidden;
        height: 80%;
        min-height: 5rem;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;

        .middle-image-container {
          min-width: 100%;
          min-height: 100%;

          img {
            object-fit: cover;
            height: 15rem;
            width: 100%;
          }
        }
      }
    }

    .app-wrapper {
      width: 100vw;
      overflow: hidden;
      padding: 0;

      .image-modal {
        img {
          max-width: 98%;
        }
      }
    }
  }
}
