.app-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 237, 239);
  width: 60vw;
  padding: 1rem;
}

.app-container {
  min-height: 50vh;

  border: 1px solid rgb(206, 206, 206);
}
